<div class="row">
  <div class="col-md-5">
    <h2>团队成员</h2>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-10">
    <% @members.each do |member| %>
      <%= content_tag :span, class: "label label-warning", style: "display:inline-block" do %>
        <%= member.username %>
        <%= link_to remove_member_team_path(@team, user_id: member.id), method: :delete do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      <% end %>
    <% end %>
    <%= select_tag "add-member",
    options_from_collection_for_select(User.all, "id", "username"),
      include_blank: true, class: "add-member", data: { "team-id" => @team.id } %>
  </div>
</div>

<% content_for :script do %>
  <script>window.TeamsMembersView();</script>
<% end %>
