<div class="row">
  <div class="col-md-10">
    <div class="list-group events" data-team-id="<%= @team.id %>">
      <%= render partial: 'event', collection: @events, as: :event  %>
    </div>
  </div>
</div>

<% content_for :script do %>
  <script>window.EventsIndexView();</script>
<% end %>
